<!DOCTYPE html>
<html>
<head>
  <title>Capdocs</title>
  <meta name="robots" content="noindex">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,200,600,700,300,500' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <p id="notice"><%= notice %></p>
</div>
<div class="container">
  <%= yield %>
  <div id="credit">
    Designed by: &copy; Develip, LLC 
  </div>
</div>
</body>
</html>
